@import url("https://fonts.googleapis.com/css2?family=Metamorphous&family=Pacifico&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.header-container {
  padding-top: 15px;
  padding-bottom: 125px;
  margin-bottom: 25px;
  background: url(./Assets/Header-Image.webp);
  background-size: cover;
  background-repeat: no-repeat;
  background-size: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  background-blend-mode: multiply;
}

.brand-header {
  margin: 0;
  padding: 0;
}

.brand-name {
  font-size: 26px;
  font-family: "Metamorphous";
  color: white;
}

.input-header {
  padding: 40px;
  text-align: center;
}

.input-header > h3 {
  font-size: 38px;
  font-weight: 800;
  color: white;
}

.input-header > p {
  font-weight: 800;
  color: white;
}

.input-field {
  position: relative;
}

.input-field > input {
  padding: 18px;
  border: none;
  outline: none;
  width: 75%;
  border-radius: 30px;
}

.input-field .text-field {
  padding-left: 35px;
}

.icon {
  position: absolute;
  z-index: 2;
  top: 30%;
  left: 182px;
  font-size: 24px;
  margin: 5px;
}

.image-gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.image-card {
  width: calc(25% - 10px);
  margin: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  background: whitesmoke;
  transition: transform 0.2s ease;
}

.image-card:hover {
  transform: scale(1.05);
}

.image-card img {
  width: 100%;
  max-height: 200px;
  object-fit: cover;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.image-info {
  padding: 10px;
}

.image-tags {
  font-weight: bolder;
  color: #333;
}

.image-author {
  color: #666;
}

.image-author > a {
  text-decoration: none;
}

.image-status {
  display: flex;
  justify-content: space-between;
  color: #888;
  font-size: 12px;
}

.fa-eye {
  color: blue;
}

.fa-download {
  color: black;
}

.fa-heart {
  color: palevioletred;
}

.footer-container {
  margin-top: 10px;
  padding: 22px;
  text-align: center;
  background-color: #333;
  color: white;
}

.brand-name-footer {
  font-size: 26px;
  font-family: "Metamorphous";
  color: white;
}

.brand-icons > span {
  margin-right: 8px;
}
